body {
    font-family: 'Arial', sans-serif;
    background-color: #e5ebef; 
    color: #0c4861bd; 
    margin-top: 100px; 
    padding-bottom: 20px; 
}
/* navbar */
.navbar {
    background-color: #343a40; 
}

.navbar-brand {
    font-weight: bold;
    color: #65a8dc; 
}

.nav-link {
    color: #fff; 
    transition: color 0.3s;
}

.nav-link:hover, .nav-link:focus {
    color: #ffd700; /* light color for readability */
}

/* left and right columns */
.container {
    max-width: 1200px; /* max container width to ensure spacing */
}

/* Styling for content */
h2 {
    color: #0056b3; /* heading color */
    margin-bottom: 15px; /* Spacing for header separation */
}

p {
    font-size: 1rem;
    line-height: 1.5; 
    margin-bottom: 15px; 
}

/* Grid Layout */
@media (min-width: 768px) {
    .col-md-6 {
        padding-right: 15px; /* Right padding  */
        padding-left: 15px; /* Left padding */
    }
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* shadows for cards */
    border-radius: 5px; 
    overflow: hidden;
}

.card img {
    height: 200px;
    object-fit: cover; 
}

.card-body {
    padding: 20px; 
}

@media (max-width: 767px) {
    .col-md-6 {
        margin-bottom: 20px; 
    }
}
